@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --drop-shadow-custom2: drop-shadow(0 3px 3px rgba(255, 255, 255, 0.1));
  --backgroundGray: 'rgb(17, 17, 17)',
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(17, 17, 17);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Text Selection Styles */
* {
  ::selection {
    background-color: #737373; /* neutral-500 */
    color: white;
  }
}

body {
  ::selection {
    background-color: #737373; /* neutral-500 */
    color: white;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInExpand {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0.01;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@layer utilities {
  .drop-shadow-custom2 {
    filter: var(--drop-shadow-custom2);
  }
  .backgroundGray {
    background-color: var(--backgroundGray);
  }
  .animate-fade-in-expand {
    animation: fadeInExpand 1s ease-out forwards;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }
  .animate-fade-in-up {
    animation: fade-in-up 1s ease-out forwards;
  }
}
